#include "peks48.dtsi"
#include <input/processors.dtsi>

&default_transform {
    col-offset = <6>;
};

&xiao_serial { status = "disabled"; };

/ {
    aliases {
        led_red = &led0;
        led_blue = &led1;
        led_green = &led2;
    };
};
